

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

    <div class="list-inline">



        <table class="table table-hover table-responsive list-inline-item">
            <thead>
                <tr>
                    <th class="text-center">
                        Cargo
                    </th>
                    <th class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Enumerable.Count(ViewBag.Cargos.List) > 0)
                {
                    @foreach (Cargo cargo in ViewBag.Cargos.List)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@cargo.Id_Cargo">@cargo.CargoName </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success" asp-controller="Cargo" asp-action="Remove" asp-route-id="@cargo.Id_Cargo" asp-route-pageNumber="ViewBag.PageNumber">Dellete</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

        <table class="table table-hover table-responsive list-inline-item">
            <thead>
                <tr>
                    <th class="text-center">
                        User
                    </th>
                    <th class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Enumerable.Count(ViewBag.Users.List) > 0)
                {
                    @foreach (ApplicationUser user in ViewBag.Users.List)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-controller="Home" asp-action="AUser" asp-route-id="@user.Id"> @user.Name</a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success" asp-controller="Auth" asp-action="DeleteAsync" asp-route-email="@user.Email" asp-route-pageNumber="ViewBag.PageNumber">Dellete</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

    </div>




<div>
    @if (ViewBag.PageNumber > 1)
    {
        <a class="btn btn-success" asp-controller="Home" asp-action="AdminPanel" asp-route-pageNumber="@(ViewBag.PageNumber-1)">@Localizer["prev"]</a>

    }
    @if (ViewBag.CanNext)
    {
        <a class="btn btn-success" asp-controller="Home" asp-action="AdminPanel" asp-route-pageNumber="@(ViewBag.PageNumber+1)">@Localizer["next"]</a>
         
    }
</div>