

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



    <div class="d-flex flex-row mb-3">



        <table class="table table-hover table-responsive p-2 bd-highlight">
            <thead>
                <tr>
                    <th class="text-center">
                        @Localizer["cargo"] 
                    </th>
                    <th class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Enumerable.Count(ViewBag.Cargos.List) > 0)
                {
                    @foreach (Cargo cargo in ViewBag.Cargos.List)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@cargo.Id_Cargo">@cargo.CargoName </a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success" asp-controller="Cargo" asp-action="Remove" asp-route-id="@cargo.Id_Cargo" asp-route-pageNumber="@ViewBag.PageNumber">@Localizer["del"]</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>

        <table class="table table-hover table-responsive p-2 bd-highlight">
            <thead>
                <tr>
                    <th class="text-center">
                        @Localizer["user"]
                    </th>
                    <th class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Enumerable.Count(ViewBag.Users.List) > 0)
                {
                    @foreach (ApplicationUser user in ViewBag.Users.List)
                    {
                        <tr>
                            <td class="text-center">
                                <a asp-controller="Home" asp-action="AUser" asp-route-id="@user.Id"> @user.Name</a>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-success" asp-controller="Auth" asp-action="Delete" asp-route-id="@user.Id" asp-route-pageNumber="ViewBag.PageNumber">@Localizer["del"]</a>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>



    </div>


<div>
    @if (ViewBag.PageNumber > 1)
    {
        <a class="btn btn-success" asp-controller="Home" asp-action="AdminPanel" asp-route-pageNumber="@(ViewBag.PageNumber-1)">@Localizer["prev"]</a>

    }
    @if (ViewBag.CanNext)
    {
        <a class="btn btn-success" asp-controller="Home" asp-action="AdminPanel" asp-route-pageNumber="@(ViewBag.PageNumber+1)">@Localizer["next"]</a>

    }
</div>