@model SearchViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<table align="center" class="table table-hover table-responsive">
    <tr>
        <td>
            <span>@Localizer["users"]</span>

        </td>
        <td>
            <span>@Localizer["cargos"]</span>
        </td>
    </tr>

    <tr>
        <td>
            @if (Enumerable.Count(Model.Users) > 0)
            {
                @foreach (var v in Model.Users)
                {
                    <a asp-controller="Home" asp-action="AUser" asp-route-id="@v.Id">@v.UserName </a>
                    <hr />
                }
            }
            else
            {
                <p>@Localizer["userNone"]</p>
            }
        </td>

        <td>
            @if (Enumerable.Count(Model.Cargos) > 0)
            {
                @foreach (var v in Model.Cargos)
                {
                    <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@v.Id_Cargo">@v.CargoName </a>
                    <hr />
                }
            }
            else
            {
                <p>@Localizer["cargoNone"]</p>
            }
        </td>
    </tr>


</table>
<div style="clear:both"></div>