@model IEnumerable<Request>


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@if (Model.Count() > 0)
{

    <span>@Localizer["ofer"]</span>
    <hr />
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="text-center"> @Localizer["carg"]  </th>
                <th class="text-center"> Decision </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rq in Model)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@rq.IdCargo">Cargo</a>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Request" asp-action="AcceptCompanyToUser" asp-route-requestId="@rq.Id">@Localizer["accept"] </a> 
                        <a class="btn btn-success" asp-controller="Request" asp-action="DeclineRequest" asp-route-sender="CompanyToUser" asp-route-id="@rq.Id">@Localizer["refuse"] </a> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
    

}
else
{
    <span>@Localizer["none"]</span>
}