@model IEnumerable<Request>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model.Count() > 0)
{

    <span>@Localizer["requests"]</span>
    <hr />

    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="text-center">
                    Car
                </th>
                <th class="text-center">
                    Choice
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rq in Model)
            {
                <tr>

                    <td class="text-center">
                        <a asp-controller="Car" asp-action="ACar" asp-route-id="@rq.IdCar">@Localizer["car"]</a>
                    </td>

                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Request" asp-action="AcceptDriving" asp-route-requestId="@rq.Id">@Localizer["accept"] </a> |
                        <a class="btn btn-success" asp-controller="Request" asp-action="DeclineRequest" asp-route-sender="DrivingRequest" asp-route-id="@rq.Id">@Localizer["refuse"] </a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <span>@Localizer["none"]</span>
}
