@model IEnumerable<Request>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model.Count() > 0)
{

    <span>@Localizer["requests"]</span>
    <hr />
    <ul>
        @foreach (var rq in Model)
        {
            <li>
                <span>@Localizer["youwas"] </span>
                <a asp-controller="Car" asp-action="ACar" asp-route-id="@rq.IdCar">@Localizer["car"]</a> |
                <a asp-controller="Request" asp-action="AcceptDriving" asp-route-requestId="@rq.Id">@Localizer["accept"] </a> |
                <a asp-controller="Request" asp-action="DeclineRequest" asp-route-sender="DrivingRequest" asp-route-id="@rq.Id">@Localizer["refuse"] </a> |
            </li>
        }

    </ul>

}
else
{
    <span>@Localizer["none"]</span>
}