@model UserToCompanyViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model?.Requests.Count() > 0)
{

    <label class="text-center">@Localizer["ofer"]</label>
    <hr />
    <table class="table table-hover table-responsive ml-5">
        <thead>
            <tr>
                <th class="text-center">
                    @Localizer["ofer"] 
                </th>
                <th class="text-center">
                    @Localizer["opti"] 
                </th>
                <th class="text-center">
                 @Localizer["groupList"]   
                </th>
                <th class="text-center">
                    @Localizer["ref"]  
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (RequestViewModel rq in Model.Requests)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@rq.Request.IdCargo">@Localizer["this"]</a>
                    </td>
                    <td class="text-center">
                        <a asp-controller="Cargo" asp-action="OptimalGroup" asp-route-idCargo="@rq.Request.IdCargo">@Localizer["optimal"]</a>
                    </td>
                    <td>
                        @if (rq.Groups != null && rq.Groups.Count() > 0)
                        {
                            <form asp-controller="Request" asp-action="AcceptUserToCompany" method="post">
                                <input asp-for="IdRequest" value="@rq.Request.Id" type="hidden" />
                                <input asp-for="@rq.Groups" value="@rq.Groups" type="hidden" />
                                <select asp-for="IdGroup">
                                    @foreach (Group gr in rq.Groups)
                                    {
                                        <option value="@gr.IdGroup">@gr.GroupName</option>
                                    }
                                </select>
                                <input class="btn btn-success" type="submit" value="@Localizer["sel"]" />
                            </form>

                        }
                    </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Request" asp-action="DeclineRequest" asp-route-sender="UserToCompany" asp-route-id="@rq.Request.Id">@Localizer["ref"] </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <label class="text-center">@Localizer["none"]</label>
}