@model GroupViewModel

@{
    ViewBag.Title = Model.GroupName;
}


<div>
    <span>Назва вашої групи - @Model.GroupName</span>


        <span>Список машин доступних для додавання у цю групу:</span>

        @foreach (var freecar in ViewBag.FreeCars)
        {
            <hr />
            <span>@freecar.CarModel</span>
            <a asp-controller="Groups" asp-action="AddCarToGroup" asp-route-idCar="@freecar.IdCar" asp-route-idGroup="@Model.IdGroup" >Додати до групи</a>
            <hr />
        }

 
        <span>Список машин у групі:</span>
        @if (Model.Cars.Count() == 0)
        {
            <span>Ви ще не маєте машин у цій групі</span>
        }
        else
        {
            <span>Список машин</span>
            @foreach (var cr in Model.Cars)
            {
                <span>@cr.CarModel</span>
                <span>@cr.RegistrationNumber</span>
                <hr />
            }

        }

    
</div>