@model GroupViewModel

@{
    ViewBag.Title = Model.GroupName;
}


    <div>
        <h3> Назва вашої групи - @Model.GroupName </h3>
        <hr />



        @if (ViewBag.FreeCarsCount > 0)
        {
            <span>Список машин доступних для додавання у цю групу:</span>
            <hr />
            @foreach (var freecar in ViewBag.FreeCars)
            {
                <hr />
                <label> @freecar.CarModel | @freecar.RegistrationNumber | <a asp-controller="Groups" asp-action="AddCarToGroup" asp-route-idCar="@freecar.IdCar" asp-route-idGroup="@Model.IdGroup">Додати до групи</a> </label>
                <hr />
            }
        }


        <p>
            <a asp-controller="Groups" asp-action="GetOptimalCargoForGroup" asp-route-idGroup="@Model.IdGroup">Знайти оптимальні вантажі для цієї групи</a>


        </p>
        <span>Список машин у групі:</span>
        <hr />

        @if (Model.Cars.Count() == 0)
        {
            <span>Ви ще не маєте машин у цій групі</span>
        }
        else
        {
            <h4>Назва машини  | Номер машини | Редагувати групу</h4>
            @foreach (var cr in Model.Cars)
            {
                <hr />
                <span> @cr.CarModel </span> <span> | </span>
                <span> @cr.RegistrationNumber </span> <span> | </span>
                <a asp-controller="Groups" asp-action="DeleteCarFromGroup" asp-route-idCar="@cr.IdCar"> Видалити машину з групи</a>
                <hr />
            }

        }





        <a asp-controller="Groups" asp-action="DeleteGroup" asp-route-id="@Model.IdGroup">Видалити групу</a>
    </div>