@model GroupViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Model.GroupName;
}


<div>

    <h3> @Localizer["groupName"] - @Model.GroupName </h3>
    <hr />

    @if (ViewBag.FreeCarsCount > 0)
    {
        <span>@Localizer["ableCars"]:</span>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>

                    <th class="text-center">@Localizer["photo"]</th>
                    <th class="text-center">@Localizer["car"]</th>
                    <th class="text-center">@Localizer["regNumber"]</th>
                    <th class="text-center"> </th>
                </tr>
            </thead>
            <tbody>


                @foreach (var freecar in ViewBag.FreeCars)
                {
                    <tr>
                        <td class="text-center">
                            @if (!String.IsNullOrEmpty(@freecar.Photo))
                            {
                                var imagePath = $"/content/webs/{@freecar.Photo}";
                                <img src="@imagePath" height="50" width="50" />
                            }
                        </td>
                        <td class="text-center">
                            @freecar.CarModel
                        </td>
                        <td>
                            @freecar.RegistrationNumber
                        </td>
                        <td>
                            <a class="btn btn-success" asp-controller="Groups" asp-action="AddCarToGroup" asp-route-idCar="@freecar.IdCar" asp-route-idGroup="@Model.IdGroup">@Localizer["addToGroup"]</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    }
    else
    {
        <label>@Localizer["anyFreeCars"]</label>
    }

    <hr />

    @if (Model?.Cars.Count() > 0)
    {
        <p>
            <a class="btn btn-success" asp-controller="Groups" asp-action="GetOptimalCargoForGroup" asp-route-idGroup="@Model.IdGroup">@Localizer["optiCagros"]</a>
        </p>
    }


    @if (Model.Cars.Count() == 0)
    {
        <label>@Localizer["none"]</label>
    }
    else
    {
        <span>@Localizer["carList"]:</span>
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th class="text-center">
                        Photo
                    </th>
                    <th class="text-center">
                        @Localizer["carName"]
                    </th>
                    <th class="text-center">
                        @Localizer["cargoNumb"]
                    </th>
                    <th class="text-center">
                        @Localizer["editGroup"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cr in Model.Cars)
                {
                    <tr>
                        <td class="text-center">
                            @if (!String.IsNullOrEmpty(cr.Photo))
                            {
                                var imagePath = $"/content/webs/{cr.Photo}";
                                <img src="@imagePath" height="50" width="50" />
                            }
                        </td>
                        <td class="text-center">
                            <a asp-controller="Car" asp-action="ACar" asp-route-id="@cr.IdCar">  @cr.CarModel </a>
                        </td>
                        <td class="text-center">
                            @cr.RegistrationNumber
                        </td>
                        <td class="text-center">
                            <a class="btn btn-danger" asp-controller="Groups" asp-action="DeleteCarFromGroup" asp-route-idCar="@cr.IdCar" asp-route-idGroup="@cr.IdGroup.IdGroup"> @Localizer["deleteCar"]</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    <a class="btn btn-danger" asp-controller="Groups" asp-action="DeleteGroup" asp-route-id="@Model.IdGroup">@Localizer["deleteGroup"]</a>
</div>