@model OptimalCargoViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


<p>
    <label>@Localizer["groupName"] - @Model.OurGroup.GroupName</label>
</p>

@if (Model.Cargos.Count() == 0)
{
    <label>@Localizer["none"]</label>
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="text-center">
                    @Localizer["name"]
                </th>
                <th class="text-center">
                    @Localizer["cargoType"]
                </th>
                <th class="text-center">
                    @Localizer["dep"]
                </th>
                <th class="text-center">
                    @Localizer["dest"]
                </th>
                <th class="text-center">
                    @Localizer["weight"]
                </th>
                <th class="text-center">
                    @Localizer["bulk"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Cargo cr in Model.Cargos)
            {
                <tr>
                    <td class="text-center">
                        @cr.CargoName
                    </td>
                    <td class="text-center">
                        @cr.CargoType
                    </td>
                    <td class="text-center">
                        @cr.DeparturePoint
                    </td>
                    <td class="text-center">
                        @cr.DestinationPoint
                    </td>
                    <td class="text-center">
                        @cr.Weight
                    </td>
                    <td class="text-center">
                        @cr.Bulk
                    </td>
                    <td class="text-center">
                        <form asp-controller="Request" asp-action="CreateCompanyToUser" method="post" enctype="multipart/form-data">
                            <input asp-for="@cr.Id_Cargo" type="hidden" />
                            <input asp-for="@Model.OurGroup.IdOwner" type="hidden" />
                            <input asp-for="@Model.OurGroup.IdGroup" type="hidden" />

                            <input class="btn btn-success" type="submit" value="@Localizer["ofer"]" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
