@model ListViewModel<Group>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["title"];
}

@if (Enumerable.Count(Model.List) == 0)
{
    <h3>@Localizer["none"]</h3>
    <a asp-controller="Groups" asp-action="CreateGroup">@Localizer["create"]</a>
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="text-center">
                    @Localizer["one"]
                </th>
                <th class="text-center">
                    @Localizer["carsCount"]
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var cr in Model.List)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="Groups" asp-action="AGroup" asp-route-idOfGroup="@cr.IdGroup">
                            @cr.GroupName
                        </a>
                    </td>
                    <td class="text-center">
                        @cr.Cars?.Count()
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-success" asp-controller="Groups" asp-action="GroupList" asp-route-pageNumber="@(Model.PageNumber-1)">@Localizer["prev"]</a>

        }
        @if (Model.CanNext)
        {

            <a class="btn btn-success" asp-controller="Groups" asp-action="GroupList" asp-route-pageNumber="@(Model.PageNumber + 1)">@Localizer["next"]</a>
        }
    </div>
}