@model LoginViewModel 

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ 

}

<form asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label>
            @Localizer["username"]
        </label>
        <input asp-for="UserName" />

    </div>
    <div>
        <label>
            @Localizer["password"]

        </label>
        <input asp-for="Password" />

    </div>
    <div>
    <input class="btn btn-success" type="submit" value="@Localizer["but"]"/>
    <a class="btn btn-success" asp-controller="Auth" asp-action="Register">@Localizer["reg"]</a>
    <a class="btn btn-success" asp-controller="Auth" asp-action="Reset">@Localizer["rest"]</a>
    </div>
    
</form>