@model RegisterViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{

}

<form asp-controller="Auth" asp-action="Register" method="post">
    <div>
        <label>
            @Localizer["email"]
        </label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>

    </div>
    <div>
        <label>
            @Localizer["password"]

        </label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>

    </div>
    <div>
        <label>
            @Localizer["conf"]
        </label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>

    </div>
    <div>
        <label>
            @Localizer["name"]

        </label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

    </div>
    <div>
        <label>
            @Localizer["surname"]
        </label>
        <input asp-for="Surname" />
        <span asp-validation-for="Surname"></span>

    </div>
    <div>
        <label>
            @Localizer["age"]
        </label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>

    </div>

    <input class="btn btn-success" type="submit" value="@Localizer["sign"]" />

</form>