@model RegisterViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{

}

<div class="text-center">

    <form asp-controller="Auth" asp-action="Register" method="post">
        <table align="center">
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["email"]
                    </label>

                </td>
                <td>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>

                </td>

            </tr>
            <tr >
                <td >
                    <label class="mb-2 mt-2">
                        @Localizer["password"]
                    </label>
                </td>
                <td>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </td>



            </tr>
            <tr >
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["conf"]
                    </label>
                </td>
                <td>
                    <input asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["name"]

                    </label>
                </td>
                <td>
                    <input asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["surname"]
                    </label>
                </td>
                <td>
                    <input asp-for="Surname" />
                    <span asp-validation-for="Surname"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["age"]
                    </label>
                </td>
                <td>
                    <input asp-for="Age" />
                    <span asp-validation-for="Age"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <input class="btn btn-success mb-2 mt-2" type="submit" value="@Localizer["sign"]" />
                </td>

            </tr>
        </table>
    </form>

</div>