@model CargoViewModel

@{
    ViewBag.Title = Model.CargoName;
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@if (!String.IsNullOrEmpty(Model.Photo))
{
    var imagePath = $"/content/webs/{Model.Photo}";
    <img src="@imagePath" height="200" width="200" />
}

<h3>@Localizer["name"] @Model.CargoName </h3>

<h3>@Localizer["cargoType"] @Model.CargoType </h3>

<h3>@Localizer["dep"] @Model.DeparturePoint </h3>

<h3>@Localizer["dest"] @Model.DestinationPoint </h3>

<h3>@Localizer["bulk"] @Model.Bulk </h3>





@*<hr />
    <p>
        <a asp-controller="Cargo" asp-action="OptimalGroup" asp-route-idCargo="@Model.Id_Cargo">Створити оптимальну групу для цього вантажу</a>
    </p>
    <hr />*@

@if (Enumerable.Count(ViewBag.GroupsToOffer) > 0)
{
    <form asp-controller="Request" asp-action="CreateCompanyToUser" method="post" enctype="multipart/form-data">
        <input asp-for="Id_Cargo" type="hidden" />
        <input asp-for="Id_Owner.Id" type="hidden" />
        <select asp-for="idGroup">
            @foreach (var cr in ViewBag.GroupsToOffer)
            {
                <option value="@cr.IdGroup">@cr.GroupName</option>
            }
        </select>
        <input type="submit" value="SendRequest" />
    </form>

}