@model ListViewModel<Cargo>

@{
    ViewBag.Title = "Ваші вантажі";
}


@if (Enumerable.Count(Model.List) == 0)
{
    <h3>У вас ще не має вантажів</h3>
    <a asp-controller="Cargo" asp-action="CreateCargo">Cтворіть новий</a>
}
else
{
    <ul>
        @foreach (var c in Model.List)
        {
            <li>
                <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@c.Id_Cargo">@c.CargoName</a>
            </li>

            <a asp-controller="Cargo" asp-action="Remove" asp-route-id="@c.Id_Cargo"> Remove</a>

            <a asp-controller="Cargo" asp-action="CreateCargo" asp-route-id="@c.Id_Cargo"> Edit</a>
        }
    </ul>

    <div>
        @if (Model.PageNumber > 1)
        {
        <a asp-controller="Cargo" asp-action="CargoList" asp-route-pageNumber="@(Model.PageNumber-1)">Previous page</a>

        }
        @if (Model.CanNext)
        {
        <a asp-controller="Cargo" asp-action="CargoList" asp-route-pageNumber="@(Model.PageNumber+1)">Next page</a>

        }
    </div>
}
