@model ListViewModel<Cargo>

@{
    ViewBag.Title = Localizer["title"];
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer



@if (Enumerable.Count(Model.List) == 0)
{
    <h3>@Localizer["empty"]</h3>
    <a asp-controller="Cargo" asp-action="CreateCargo">@Localizer["create"]</a>
}
else
{
    <table class="table table-hover table-responsive ml-5 ">
        <thead>
            <tr>
                <th class="text-center">@Localizer["photo"]</th>
                <th class="text-center">@Localizer["cargoName"]</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in Model.List)
            {
                <tr>
                    <td class="text-center">
                        @if (!String.IsNullOrEmpty(c.Photo))
                        {
                            var imagePath = $"/content/webs/{c.Photo}";
                            <img src="@imagePath" height="50" width="50" />
                        }
                    </td>
                    <td class="text-center">
                        <a asp-controller="Cargo" asp-action="ACargo" asp-route-id="@c.Id_Cargo">@c.CargoName</a>
                    </td>

                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Cargo" asp-action="CreateCargo" asp-route-id="@c.Id_Cargo"> @Localizer["edit"]</a>

                        <a class="btn btn-success" asp-controller="Cargo" asp-action="Remove" asp-route-id="@c.Id_Cargo"> @Localizer["remove"]</a>
                    </td>

                </tr>
            }

        </tbody>
    </table>


    <div>
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-success" asp-controller="Cargo" asp-action="CargoList" asp-route-pageNumber="@(Model.PageNumber-1)">@Localizer["prev"]</a>

        }
        @if (Model.CanNext)
        {
            <a class="btn btn-success" asp-controller="Cargo" asp-action="CargoList" asp-route-pageNumber="@(Model.PageNumber+1)">@Localizer["next"]</a>

        }
    </div>
}
