@model CargoViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
        ViewBag.Title = Localizer["title"];
}



<form asp-controller="Cargo" asp-action="CreateCargo" method="post" enctype="multipart/form-data">
    <table align="center">
        <tr>
            <td>
                <input asp-for="Id_Cargo" type="hidden" />
            </td>

        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["name"] -
                </label>
            </td>
            <td>
                <input asp-for="CargoName" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["dep"] -
                </label>
            </td>
            <td>
                <input asp-for="DeparturePoint" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["dest"] -
                </label>
            </td>
            <td>
                <input asp-for="DestinationPoint" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["weight"] (kg) -
                </label>
            </td>
            <td>
                <input asp-for="Weight" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["cargoType"] -
                </label>
            </td>
            <td>
                <select asp-for="CargoType">
                    <option value="box">@Localizer["box"]</option>
                    <option value="solid">@Localizer["solid"]</option>
                    <option value="liquid">@Localizer["liquid"]</option>
                    <option value="loose">@Localizer["loose"]</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label>@Localizer["canSep"]</label> @Html.CheckBox("CanBeSepateted", Model.CanBeSepateted)
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["height"]
                </label>
            </td>
            <td>
                <input asp-for="Height" placeholder="@Localizer["notif"]" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["width"]
                </label>
            </td>
            <td>
                <input asp-for="Width" placeholder="@Localizer["notif"]" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["length"]
                </label>
            </td>
            <td>
                <input asp-for="Length" placeholder="@Localizer["notif"]" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["bulk"] -
                </label>
            </td>
            <td>
                <input asp-for="Bulk" />
            </td>
        </tr>
        <tr>
            <td>
                <label class="mb-2 mt-2">
                    @Localizer["picture"] -
                </label>
            </td>
            <td>
                <input asp-for="Image" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="@Localizer["add"]" />
            </td>
        </tr>
    </table>
</form>
