@model IEnumerable<CargoInCar>


@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@if (Model == null || Model.Count() == 0)
{
    <div class="text-center">
        <label>@Localizer["empty"]</label>
    </div>
}
else
{
    <div class="text-center">
        <table >
            <thead>
                <tr>
                    <th >Photo</th>
                    <th class="text-center">@Localizer["name"]</th>
                    <th class="text-center">Departure point</th>
                    <th class="text-center">@Localizer["dest"]</th>
                    <th class="text-center">@Localizer["cargoType"]</th>
                    <th class="text-center">@Localizer["wasDeliv"]</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cr in Model)
                {
                    <tr>
                        <td class="text-center">
                            @if (!String.IsNullOrEmpty(cr.Cargo.Photo))
                            {
                                var imagePath = $"/content/webs/{cr.Cargo.Photo}";
                                <img src="@imagePath" height="50" width="50" />
                            }
                        </td>

                        <td class="text-center">
                            <label>
                                @cr.Cargo.CargoName
                            </label>
                        </td> 
                        <td class="text-center">
                            <label>
                                @cr.Cargo.DeparturePoint
                            </label>
                        </td> 
                        <td class="text-center">
                            <label>
                                @cr.Cargo.DestinationPoint
                            </label>
                        </td>
                        <td class="text-center">
                            <label>
                                @cr.Cargo.CargoType
                            </label>
                        </td>
                        <td class="text-center">
                                @{ 
                                    if (cr.Cargo.IsDelivered)
                                    {
                                        <label> Delivered</label>
                                    }
                                    else
                                    {
                                        <label> On the way</label>
                                    }


                                }
                            
                        </td>
                        <td class="text-center">
                            <a class="btn btn-success" asp-controller="Cargo" asp-action="SetDelivered" asp-route-idCargo="@cr.Cargo.Id_Cargo">@Localizer["set"]</a>
                        </td>


                    </tr>

                }

            </tbody>
        </table>
    </div>
}