@model OptimalGroupViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


    <p>@Localizer["offeredGroup"] -  <h4>@Model.Cargo.CargoName</h4> </p>



@if (Model.CarsThisGroup.Count() == 0)
{
<label>@Localizer["none"]</label>
}
else
{
    <form asp-controller="Groups" asp-action="CreateOptimalGroup" method="post" enctype="multipart/form-data">

        <input asp-for="Cargo.Id_Cargo" value="@Model.Cargo.Id_Cargo" type="hidden" />

        <ul>
            @foreach (var car in Model.CarsThisGroup)
            {
                <li>
                    <input name="items" value="@car.IdCar" type="hidden" />
                    <img src="@car.Photo" height="200" width="200" />

                    <label>@Localizer["model"] - @car.CarModel |@Localizer["carType"] - @car.CarType | @Localizer["numb"] - @car.RegistrationNumber | </label>
                </li>
            }
        </ul>




        <input class="btn btn-success" type="submit" value="@Localizer["create"]" />
    </form>
}