@model Car

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewBag.Title = Model.CarModel;
}

<div class="mb-3">
    @if (!String.IsNullOrEmpty(Model.Photo))
    {
        var imagePath = $"/content/webs/{Model.Photo}";
        <img src="@imagePath" height="300" width="600" />
    }
</div>
<div>
    <p>@Localizer["model"] - @Model.CarModel</p>
    <hr />
    <p>@Localizer["color"] - @Model.Color</p>
    <hr />
    <p>@Localizer["carType"] - @Model.CarType </p>
    <hr />
    <p>@Localizer["carNumber"] - @Model.RegistrationNumber</p>
    <hr />
    <p>@Localizer["cargoType"] - @Model.CargoType</p>
    <hr />
    <p>@Localizer["price"] - @Model.CostPerKm</p>
    <hr />
</div>