@model CarViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewBag.Title = "Нова машина";
}

<div>
    <form asp-controller="Car" asp-action="CreateCar" method="post" enctype="multipart/form-data">
        <table align="center">
            <tr>
                <td>
                    <input asp-for="IdCar" type="hidden" />
                    <span asp-validation-for="IdCar"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["carModel"]
                        -
                    </label>
                    
                </td>
                <td>
                    <input asp-for="CarModel" />
                    <span asp-validation-for="CarModel"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["vin"]
                        -
                    </label>
                </td>
                <td>
                    <input asp-for="CarcassNumber" />
                    <span asp-validation-for="CarcassNumber"></span>
                </td>

            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["number"]
                        -
                    </label>
                </td>
                <td>
                    <input asp-for="RegistrationNumber" />
                    <span asp-validation-for="RegistrationNumber"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["color"]
                        -
                    </label>
                </td>
                <td>
                    <input asp-for="Color" />
                    <span asp-validation-for="Color"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["carType"]
                        -
                    </label>
                </td>
                <td>
                    <select asp-for="CarType">
                        <option value="До 0.8тг"> 0.8т</option>
                        <option value="До 1.5т"> 1.5т</option>
                        <option value="До 3т"> 3т</option>
                        <option value="До 5т"> 5т</option>
                        <option value="До 10т"> 10т</option>
                        <option value="До 20т"> 20т</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["cargoType"]
                        -
                    </label>
                </td>
                <td>
                    <select asp-for=" CargoType">
                        <option value="box">@Localizer["box"]</option>
                        <option value="solid">@Localizer["solid"]</option>
                        <option value="liquid">@Localizer["liquid"]</option>
                        <option value="loose">@Localizer["loose"]</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["bulk"] (м2)
                    </label>
                </td>
                <td>
                    <input asp-for="CarryingCapacitySqM" />
                    <span asp-validation-for="CarryingCapacitySqM"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["height"] (м) -
                    </label>
                </td>
                <td>
                    <input asp-for="HeightCargoCompartment" />
                    <span asp-validation-for="HeightCargoCompartment"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["width"] (м) -
                    </label>
                </td>
                <td>
                    <input asp-for="WidthCargoCompartment" />
                    <span asp-validation-for="WidthCargoCompartment"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["length"] (м) -
                    </label>
                </td>
                <td>
                    <input asp-for="LengthCargoCompartment" />
                    <span asp-validation-for="LengthCargoCompartment"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["cost"]
                    </label>
                </td>
                <td>
                    <input asp-for="CostPerKm" />
                    <span asp-validation-for="CostPerKm"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <label class="mb-2 mt-2">
                        @Localizer["photo"]
                    </label>
                </td>
                <td>
                    <input asp-for="Image" />
                    <span asp-validation-for="Image"></span>
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="@Localizer["add"]" />
                </td>
            </tr>

        </table>
    </form>
</div>
