@model Car

@{
    ViewBag.Title = "The car i'm driving";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@if (Model != null)
{
    <div style="text-align:center;">

        <h3>@Localizer["imDriving"]</h3>

    </div>
    <div class="mb-3 text-center">
        @if (!String.IsNullOrEmpty(Model.Photo))
        {
            var imagePath = $"/content/webs/{Model.Photo}";
            <img src="@imagePath" height="300" width="600" />
        }
    </div>
    <div>
        <p>@Localizer["model"] - @Model.CarModel</p>
        <hr />
        <p>@Localizer["color"] - @Model.Color</p>
        <hr />
        <p>@Localizer["type"] - @Model.CarType </p>
        <hr />
        <p>@Localizer["registrationg"] - @Model.RegistrationNumber</p>
        <hr />
        <p>@Localizer["cargoType"] - @Model.CargoType</p>
        <hr />

        <p>@Localizer["price"] - @Model.CostPerKm</p>
        <hr />
    </div>

    <a class="btn btn-danger" asp-controller="Car" asp-action="DrivingRefuse" asp-route-idCar="@Model.IdCar">@Localizer["quit"]</a>


}
else
{
    <div style="text-align:center;">

        <h3> <label>@Localizer["none"]</label></h3>
    </div>
}

