@model Car

@{
    ViewBag.Title = "The car i'm driving";
}


@if (Model != null)
{
    <div style="text-align:center;">
        <h3>Машина якою я керую</h3>

    </div>
    <div class="mb-3 text-center">
        @if (!String.IsNullOrEmpty(Model.Photo))
        {
            var imagePath = $"/content/webs/{Model.Photo}";
            <img src="@imagePath" height="300" width="600" />
        }
    </div>
    <div>
        <p>Марка машини - @Model.CarModel</p>
        <hr />
        <p>Кольор - @Model.Color</p>
        <hr />
        <p>Тип машини - @Model.CarType </p>
        <hr />
        <p>Номер - @Model.RegistrationNumber</p>
        <hr />
        <p>Тип транспортуємого вантажу - @Model.CargoType</p>
        <hr />
        @*<p>Вантажопідйомність - @Model.CarryingCapacity</p>
            <hr />*@
        <p>Ціна за перевезення кілометру вантажу - @Model.CostPerKm</p>
        <hr />
    </div>

    <a asp-controller="Car" asp-action="DrivingRefuse" asp-route-idCar="@Model.IdCar" >Відмовитись від управління</a>


}
else
{
    <div style="text-align:center;">

        <h3> <label>Ви ще не керуєте жодною машиною.</label></h3>
    </div>
}

