@model ListViewModel<Car>

@{
    ViewBag.Title = "Ваiі машини";
}

@if (Enumerable.Count(Model.List) == 0) 
{
    <h3>У вас ще не мае машин</h3>
    <a asp-controller="Car" asp-action="CreateCar">Додайте</a>
}
else
{
    <ul>
        @foreach (var cr in Model.List)
        {
            <li>
                <a asp-controller="Car" asp-action="ACar" asp-route-id="@cr.IdCar">@cr.CarModel</a>
            </li>

            <a asp-controller="Car" asp-action="CreateCar" asp-route-id="@cr.IdCar">
                Edit
            </a>


            <a asp-controller="Car" asp-action="Remove" asp-route-id="@cr.IdCar">
                Remove
            </a>

        }

    </ul>

    <div>
        @if (Model.PageNumber > 1)
        {
            <a asp-controller="Car" asp-action="MyCars" asp-route-pageNumber="@(Model.PageNumber-1)">Previous page</a>
        }
        @if (Model.CanNext)
        {
            <a asp-controller="Car" asp-action="MyCars" asp-route-pageNumber="@(Model.PageNumber+1)">Next page</a>
        }
    </div>
}
