@model ListViewModel<Car>

@{
    ViewBag.Title = "Ваiі машини";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer




@if (Enumerable.Count(Model.List) == 0)
{

    <h3>@Localizer["none"]</h3>
    <a asp-controller="Car" asp-action="CreateCar">@Localizer["add"]</a>
}
else
{
    <table class="table table-hover table-responsive">
        <thead>
            <tr>
                <th class="text-center">Photo</th>
                <th class="text-center">Car</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cr in Model.List)
            {
                <tr>
                    <td class="text-center">
                        @if (!String.IsNullOrEmpty(cr.Photo))
                        {
                            var imagePath = $"/content/webs/{cr.Photo}";
                            <img src="@imagePath" height="50" width="50" />
                        }
                    </td>

                    <td class="text-center">
                        <a asp-controller="Car" asp-action="ACar" asp-route-id="@cr.IdCar"> @cr.CarModel </a>
                    </td>

                    <td class="text-center">
                        <a class="btn btn-success" asp-controller="Car" asp-action="CreateCar" asp-route-id="@cr.IdCar"> @Localizer["edit"] </a>
                        <a class="btn btn-success" asp-controller="Car" asp-action="Remove" asp-route-id="@cr.IdCar"> @Localizer["rem"] </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <div>
        @if (Model.PageNumber > 1)
        {
            <a class="btn btn-success" asp-controller="Car" asp-action="MyCars" asp-route-pageNumber="@(Model.PageNumber-1)">@Localizer["prev"]</a>
        }
        @if (Model.CanNext)
        {
            <a class="btn btn-success" asp-controller="Car" asp-action="MyCars" asp-route-pageNumber="@(Model.PageNumber+1)">@Localizer["next"]</a>
        }
    </div>
}
